.TwoColumnsView {
  display: flex;
  flex-direction: row; }
  .TwoColumnsView .por-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
    .TwoColumnsView .por-card .title {
      opacity: 0.5;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      color: #000000;
      margin: 20px 15px;
      display: flex; }
    .TwoColumnsView .por-card div:last-child {
      overflow: hidden; }
  .TwoColumnsView .por-card:first-child {
    max-width: 66%;
    margin: 20px; }
  .TwoColumnsView .por-card:last-child {
    max-width: 34%;
    margin: 20px 20px 20px 0px; }
