.TwoColumnsView {
  display: flex;
  flex-direction: row;

  .por-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .title{
      opacity: 0.5;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      color: #000000;
      margin: 20px 15px;
      display: flex;
    }

    div:last-child{// card
      overflow: hidden;
    }
  }
  .por-card:first-child{//left
    max-width: 66%;
    margin:20px;

  }

  .por-card:last-child{//rigt
    max-width: 34%;
    margin:20px 20px 20px 0px;
  }
}