.por-devicesView{
  display: flex;
  flex-direction: column;

  .header{ //buttons
    display: flex;
    flex-direction: row;


    .title{
      display:flex;
      align-items: center;
    }

    .button-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-grow: 1;
      
    }
  }

  .content{ //map

  }

}