.por-devicesView {
  display: flex;
  flex-direction: column; }
  .por-devicesView .header {
    display: flex;
    flex-direction: row; }
    .por-devicesView .header .title {
      display: flex;
      align-items: center; }
    .por-devicesView .header .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-grow: 1; }
