.por-statusCircle{
  display: flex;
  flex-direction: row;
  align-items: center;

  .circle{
    width:10px;
    height:10px;
    border-radius: 5px;
  }

  .circle.Offline{
    background:red;
  }

  .circle.Online{
    background:green;
  }

  .title.Offline{
    color:red !important;
  }

  .title.Online{
    color:green !important;;
  }
}