.por-statusCircle {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .por-statusCircle .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px; }
  .por-statusCircle .circle.Offline {
    background: red; }
  .por-statusCircle .circle.Online {
    background: green; }
  .por-statusCircle .title.Offline {
    color: red !important; }
  .por-statusCircle .title.Online {
    color: green !important; }
