.actionButtons {
  align-items: center; }

.actionButtons button {
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  font-family: Roboto !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  text-align: center !important;
  color: #1976d2 !important;
  background-color: #f9f9f9 !important;
  border: solid 1px #eeeeee !important;
  border-radius: 0px !important;
  height: 38px !important;
  min-width: 85px !important; }

.actionButtons button.inactive {
  opacity: 0.3 !important;
  color: #000000 !important;
  background-color: #f9f9f9 !important;
  border: solid 1px #eeeeee !important; }
