.topChart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.detail .backButton{
  margin-left: -14px;
  align-items: center;
  display: flex;
}

.detail .top{
  color: white;
  background-color: #2196F3;
  min-height: 140px;
}

.info h3{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.54);
  color: var(--black-54);
}

.info table td{
  font-family: Roboto !important;
  font-size: 14px!important;
  line-height: 1.43!important;
  color: rgba(0, 0, 0, 0.38)!important;
}

.detail .backButton{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  color: var(--white);
}

.detail .headTitle{
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
  color: var(--white);
}

.detail .subTitle{
  background-color: #2196f3;
  background-color: var(--azure);
}

.detail .top button{
  color: white !important;
}

.detail .top, .detail .center{
  display: flex;
  flex-direction: row;
}

.detail .top .title, .detail .top .map, .detail .center .data, .detail .center .info{
  display: flex;
  flex-direction: column;
}

.detail .top .title, .detail .center .data{
  flex-grow: 2;
  width: 66%;
  width: calc(66% - 50px);
  margin-left: 30px;
  margin-right: 20px;
}

.detail .top .map, .detail .center .info{
  flex-grow: 1;
  width: 34%;
}
