body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

html, body, #root, #root, .container-root {
  height: 100%; }

.por-appbar {
  background-color: white !important; }

.por-appbar .por-title {
  font-size: 14px; }

.por-appbar .por-title .first {
  color: rgba(0, 0, 0, 0.5); }

.por-appbar .por-appbar-button {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #3597f1;
  margin-left: 20px; }
  .por-appbar .por-appbar-button .bar {
    height: 4px;
    background-color: #2196f3; }

.por-appbar .por-appbar-button .title {
  font-weight: 500;
  line-height: 1.71;
  color: #1565c0;
  padding: 0 10px;
  display: flex;
  flex-grow: 1;
  align-items: center; }

.por-appbar .por-title .second {
  font-weight: bold;
  color: #1565c0; }

.map-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
